.counter {
	background-color: #282c34;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
}

.counter__button {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 150px;
	margin: 5px;
	height: 40px;
	border-radius: 5px;
	outline: none;
	border: none;
	cursor: pointer;
	font-size: 40px;
	background-color: #efefef;
	color: #000000;
	transition: all 0.3s;
	user-select: none;
}

.counter__button--decrement:hover {
	color: #efefef;
	background-color: red;
}

.counter__button--increment:hover {
	color: #efefef;
	background-color: green;
}
